body {
    font-family: Arial, sans-serif;
    text-align: center;
}

#auth-container button, #room-container button {
    margin: 10px;
}

#messages {
    height: 300px;
    overflow-y: auto;
}

#message-input {
    width: 70%;
}
